{% extends 'base.html' %}

{% set pagenav = [
  {'href': '/#map', 'title': 'Schools Map'},
  {'href': '/#stories', 'title': 'Highlights'},
  {'href': '/blog/#blog-posts', 'title': 'Blog'},
  {'href': '/data/#data-overview', 'title': 'Data'},
  {'href': '/about/#about-overview', 'title': 'About'}
] %}


{% block content %}

  <section id="map">
    <h1>Schools map</h1>
    <header class="map-controls">
      <p>Filter<span class="longer"> schools by</span> </p>
      <ul class="controls">
      </ul>
    </header>

    <div class="map"></div>
  </section>

  <section id="stats">
    <div class="content">
      <h2>Summary</h2>
      <div class="stats-container">
      </div>
    </div>
  </section>

  <section id="stories">
    <ul>
      {% for story in content.stories[:3] %}
        <li>
            <h2>{{ story.title }}</h2>
            <img src='{{ story.image }}'/>
            <p>{{ story.description }}</p>
            <p>
              <a {% if story.action %}class="action-{{ story.action }}"{% endif %} href='{{ story.link }}'>{{ story.button }}</a>
              {% if story.button2 %}<a {% if story.action %}class="action-{{ story.action }}"{% endif %} href='{{ story.link2 }}'>{{ story.button2 }}</a>{% endif %}
            </p>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
